body {
  background-color: pink;
}
/* navigation */
.tonav {
  background-color: rgba(252, 113, 108, 255);
  border: none;
  border-radius: 70px;
  color: rgb(56, 7, 7);
  padding: 15px 42px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
  outline: none;
  font-family: "Sour Gummy", sans-serif;
  font-weight: bold;
  margin-top: 10px;
}

.tonav:focus {
  outline: none;
  opacity: 80%;
}
.buttonnav {
  text-align: center;
}
/* logo */
.title {
  width: 30%;
}
.logo {
  height: 150px;
  width: auto;
  margin-top: -50px;
}
.logobox {
  justify-content: space-between;
  display: inline;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  margin-right: 20px;
  padding: 100px;
  border: none;
}
/*tomatoes*/
.tom {
  display: block;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
/*popup*/
.poplink {
  text-align: center;
  cursor: pointer;
  font-size: 30px;
  color: rgb(56, 7, 7);
}
.poplink:hover {
  opacity: 80%;
}
.popup {
  width: 60%;
  padding: 20px;
  margin: 0 auto;
  top: 110px;
  position: absolute;
  display: none;
  border-radius: 20px;
  font-size: 20px;
  left: 20%;
  background-color: mistyrose;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/*custom time*/
.custom {
  position: absolute;
  left: 23%;
  top: 110px;
  text-align: center;
  display: none;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  background-color: mistyrose;
  font-size: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 35px;
  border-radius: 20px;
}
.text {
  outline: none;
  border: none;
  width: 100px;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: rgba(252, 113, 108, 255);
  color: rgb(56, 7, 7);
  font-size: 20px;
  font-weight: bolder;
}
.text::placeholder{
  color: rgb(65, 23, 23);;
  text-align:center;
  font-family: "Sour Gummy", sans-serif;
}
/*control center*/
.loop{
  padding: 15px;
  width: 50px;
}
.loop:hover{
  transform: scale(1.2);
}
.play{
  padding: 15px;
  width: 50px;
}
.play:hover{
  transform: scale(1.2);
}
.pause{
  padding: 15px;
  width: 50px;
}
.pause:hover{
  transform: scale(1.2);
}
.control{
  display: -ms-inline-grid;
  cursor: pointer;
  margin: 0 auto;
  position: flex;
  text-align: center;
  padding: 60px;
}
/*time*/
.timer{
  text-align: center;
  padding: 10px;
  font-size: 50px;
  font-family: "Sour Gummy", sans-serif;
  font-weight:lighter;
  display: flex;
  justify-content: center;
  margin-top: -120px;
  color: rgb(65, 23, 23);;
}
/*tomatoes*/
.tomato {
  padding: 50px;
  width: 50%;
  margin-top: -150px;
}
.middle{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

/*footer*/
.copy {
  text-align: left;
  padding: 20px;
  font-size: 20px;
  font-family: "Sour Gummy", sans-serif;
  font-weight: bold;
  color: rgb(56, 7, 7);
  position: absolute;
}
.para{
  text-align: left;
  padding: 15px;
  font-size: 15px;
  font-family: "Sour Gummy", sans-serif;
  font-weight: bold;
  color: rgb(56, 7, 7);
  position: absolute;
}