body {
  background-color: pink;
}
/* navigation */
.tonav {
  background-color: rgba(252, 113, 108, 255);
  border: none;
  border-radius: 70px;
  color: rgb(56, 7, 7);
  padding: 15px 42px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
  outline: none;
  font-family: "Sour Gummy", sans-serif;
  font-weight: bold;
  margin-top: 10px;
}
.tonav:hover {
  opacity: 80%;
}

.tonav:focus {
  outline: none;
  opacity: 80%;
}
.buttonnav {
  text-align: center;
}
/* logo */
.title {
  margin-top: -35px;
  height: auto;
  max-width: 400px;
}
.logo {
  height: 150px;
}
.logobox {
  display: flex;
  width: 100%;
  border: none;
  position: flex;
  margin-left: -20px;
  margin-bottom: -100px;
}
/*tomatoes*/
.tom {
  display: block;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
/*popup*/
.poplink {
  text-align: center;
  cursor: pointer;
  font-size: 30px;
  color: rgb(56, 7, 7);
  margin-top: -60px;
  margin: 0 auto;
  width: 15%;
}
.poplink:hover {
  opacity: 80%;
}
.popup {
  width: 60%;
  padding: 20px;
  margin: 0 auto;
  top: 110px;
  position: absolute;
  display: none;
  border-radius: 20px;
  font-size: 20px;
  left: 20%;
  background-color: mistyrose;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

/*custom time*/
.custompop {
  position: absolute;
  left: 23%;
  top: 110px;
  text-align: center;
  display: none;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  background-color: mistyrose;
  font-size: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 15   px;
  border-radius: 20px;
  z-index: 9;
}
/*input button*/
.placeholder { 
  outline: none;
  border: none;
  width: 50%;
  height: 50px;
  border-radius: 20px;
  background-color: rgba(252, 113, 108, 255);
  font-size: 20px;
  font-weight: bolder;
  z-index: 99;
}
.placeholder::placeholder {
  color: rgb(65, 23, 23);
  text-align: center;
  font-family: "Sour Gummy", sans-serif;
}
#input {
  color: rgb(65, 23, 23);
  text-align: center;
  font-family: "Sour Gummy", sans-serif;
}
/*tomato submit*/
.tomatbut {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.caption {
  margin-top: -15px;
  color: rgb(65, 23, 23);
  text-align: center;
  font-family: "Sour Gummy", sans-serif;
  cursor: pointer;
}
/*just tomato*/
.tomatoandcap{
  display: fixed;
  align-items: center;
}
/*input and submit*/
.inputandsub{
  display: inline-flex;
  gap: 20px;
}
/*control center*/
.control {
  padding: 20px;
  gap: 20px;
  position: relative;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.redo,
.play,
.pause {
  padding: 15px;
  width: 50px;
  transition: transform 0.3s ease;
  cursor: pointer;
  display: inline-block;
}
.redo:hover,
.play:hover,
.pause:hover {
  transform: scale(1.2);
}
/*time*/
.timer {
  text-align: center;
  padding: 10px;
  font-size: 50px;
  font-family: "Sour Gummy", sans-serif;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  margin-top: -120px;
  color: rgb(65, 23, 23);
}
/*tomatoes*/
.tomato {
  padding: 50px;
  width: 50%;
  margin-top: -150px;
}
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

/*footer*/
.copy {
  text-align: left;
  padding: 20px;
  font-size: 20px;
  font-family: "Sour Gummy", sans-serif;
  font-weight: bold;
  color: rgb(56, 7, 7);
  position: absolute;
}
.para {
  text-align: left;
  padding: 15px;
  font-size: 15px;
  font-family: "Sour Gummy", sans-serif;
  font-weight: bold;
  color: rgb(56, 7, 7);
  position: absolute;
}
